
; {:brands.my-category
;  {:exclude ["Red products"]
;   :include ["Black products"
;             "Green products"]
;   :subs    [:brands.my-category.my-subcategory ...]}
;  ...}

{:brands
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    []}}
