
; {:products.my-category
;  {:exclude ["Red products"]
;   :include ["Black products"
;             "Green products"]
;   :subs    [:products.my-category.my-subcategory ...]}
;  ...}

{:products
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:beach-n-play
            :camping-furniture
            :camping-household
            :conversion-n-maintenance
            :electricity-n-lighting
            :electronics-n-multimedia
            :safety-n-protection
            :sports-n-hiking
            :tents-n-awnings
            :trailer-n-caravan
            :water-n-sanitary]}

 :additional-brake-lamps
 {:exclude []
  :include []
  :subs    []}

 :alarms-n-sensors
 {:exclude []
  :include []
  :subs    []}

 :alkaline-n-rechargeable-cells
 {:exclude []
  :include []
  :subs    []}

 :anti-burglary-equipment
 {:exclude []
  :include []
  :subs    []}

 :anti-theft-equipment
 {:exclude []
  :include []
  :subs    []}

 :bathroom-equipment
 {:exclude []
  :include []
  :subs    []}

 :batteries
 {:exclude []
  :include []
  :subs    []}

 :battery-accessories
 {:exclude []
  :include []
  :subs    []}

 :battery-chargers
 {:exclude []
  :include []
  :subs    []}

 :beach-accessories
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:parasols-n-windbreaks
            :beach-toys
            :beach-carts
            :beach-blankets
            :beach-tents
            :beach-chairs]}

 :beach-blankets
 {:exclude []
  :include []
  :subs    []}

 :beach-carts
 {:exclude []
  :include []
  :subs    []}

 :beach-chairs
 {:exclude []
  :include []
  :subs    []}

 :beach-n-play
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:inflatable-products
            :beach-accessories]}

 :beach-tents
 {:exclude []
  :include []
  :subs    []}

 :beach-toys
 {:exclude []
  :include []
  :subs    []}

 :built-in-toilets
 {:exclude []
  :include []
  :subs    []}

 :bulb-sets
 {:exclude []
  :include []
  :subs    []}

 :bulbs
 {:exclude []
  :include []
  :subs    []}

 :cabinets
 {:exclude []
  :include []
  :subs    []}

 :cables-n-wires
 {:exclude []
  :include []
  :subs    []}

 :camping-furniture
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:tables
            :childrens-furniture
            :cabinets
            :chairs]}

 :camping-household
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:pots-n-pans
            :cutlery
            :washing-n-drying
            :dehumidification
            :cleaning-n-maintenance]}

 :camping-lamps
 {:exclude []
  :include []
  :subs    []}

 :car-audio-accessories
 {:exclude []
  :include []
  :subs    []}

 :car-audio-head-units
 {:exclude []
  :include []
  :subs    []}

 :car-audio-n-navigation
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:car-audio-head-units
            :car-audio-accessories
            :navigation-devices
            :navigation-accessories]}

 :caravan-body-locks
 {:exclude []
  :include []
  :subs    []}

 :cargo-securing
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:straps-n-tensioners
            :securing-nets
            :cargo-securing-systems]}

 :cargo-securing-systems
 {:exclude []
  :include []
  :subs    []}

 :chairs
 {:exclude []
  :include []
  :subs    []}

 :chassis-n-body
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:winches
            :jacks
            :chocks-n-chock-holders
            :shock-absorbers
            :fenders
            :tool-boxes
            :support-legs]}

 :childrens-furniture
 {:exclude []
  :include []
  :subs    []}

 :chocks-n-chock-holders
 {:exclude []
  :include []
  :subs    []}

 :cigarette-lighter-sockets
 {:exclude []
  :include []
  :subs    []}

 :cleaning-n-maintenance
 {:exclude []
  :include []
  :subs    []}

 :complete-wheels
 {:exclude []
  :include []
  :subs    []}

 :connectors-n-adapters
 {:exclude []
  :include []
  :subs    []}

 :conversion-n-maintenance
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:van-conversion
            :sealants-n-adhesives]}

 :cutlery
 {:exclude []
  :include []
  :subs    []}

 :daytime-running-lamps
 {:exclude []
  :include []
  :subs    []}

 :dehumidification
 {:exclude []
  :include []
  :subs    []}

 :drainage-systems
 {:exclude []
  :include []
  :subs    []}

 :electrical-connection
 {:exclude []
  :include []
  :subs    []}

 :electricity-n-lighting
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:high-voltage-electrical-system
            :low-voltage-electrical-system
            :vehicle-electrics
            :switches-n-sockets
            :cables-n-wires
            :lamps-n-lighting
            :solar-systems]}

 :electronics-n-multimedia
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:car-audio-n-navigation
            :household-appliances
            :satellite-systems
            :tv-n-audio]}

 :extension-cords-cable-reels-n-distributors
 {:exclude []
  :include []
  :subs    []}

 :exterior-lighting
 {:exclude []
  :include []
  :subs    []}

 :fenders
 {:exclude []
  :include []
  :subs    []}

 :fog-lamps
 {:exclude []
  :include []
  :subs    []}

 :frost-protection
 {:exclude []
  :include []
  :subs    []}

 :fuel-cells
 {:exclude []
  :include []
  :subs    []}

 :garden-hoses-n-accessories
 {:exclude []
  :include []
  :subs    []}

 :grey-water-discharge
 {:exclude []
  :include []
  :subs    []}

 :grey-water-tanks
 {:exclude []
  :include []
  :subs    []}

 :headlamps
 {:exclude []
  :include []
  :subs    []}

 :high-voltage-electrical-system
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:electrical-connection
            :portable-generators
            :extension-cords-cable-reels-n-distributors
            :inverters
            :fuel-cells
            :protective-equipment]}

 :household-appliances
 {:exclude []
  :include []
  :subs    []}

 :inflatable-boats
 {:exclude []
  :include []
  :subs    []}

 :inflatable-mattresses
 {:exclude []
  :include []
  :subs    []}

 :inflatable-pools
 {:exclude []
  :include []
  :subs    []}

 :inflatable-products
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:inflatable-boats
            :inflatable-toys
            :inflatable-mattresses
            :inflatable-pools
            :pumps-n-compressors]}

 :inflatable-toys
 {:exclude []
  :include []
  :subs    []}

 :interior-lighting
 {:exclude []
  :include []
  :subs    []}

 :inverters
 {:exclude []
  :include []
  :subs    []}

 :jacks
 {:exclude []
  :include []
  :subs    []}

 :lamp-covers
 {:exclude []
  :include []
  :subs    []}

 :lamps-n-lighting
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:interior-lighting
            :exterior-lighting
            :headlamps
            :camping-lamps
            :work-lamps
            :tent-lamps
            :torches]}

 :license-plate-lamps
 {:exclude []
  :include []
  :subs    []}

 :locks-n-protection
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:safety-accessories
            :caravan-body-locks
            :trailer-body-locks
            :trailer-platform-locks]}

 :low-voltage-electrical-system
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:batteries
            :battery-accessories
            :battery-chargers
            :alkaline-n-rechargeable-cells
            :portable-energy-storage
            :cigarette-lighter-sockets]}

 :maintenance-n-repair
 {:exclude []
  :include []
  :subs    []}

 :navigation-accessories
 {:exclude []
  :include []
  :subs    []}

 :navigation-devices
 {:exclude []
  :include []
  :subs    []}

 :outdoor-showers
 {:exclude []
  :include []
  :subs    []}

 :parasols-n-windbreaks
 {:exclude []
  :include []
  :subs    []}

 :plumbing-fittings
 {:exclude []
  :include []
  :subs    []}

 :plumbing-fittings-quick-connect
 {:exclude []
  :include []
  :subs    []}

 :portable-containers
 {:exclude []
  :include []
  :subs    []}

 :portable-energy-storage
 {:exclude []
  :include []
  :subs    []}

 :portable-generators
 {:exclude []
  :include []
  :subs    []}

 :portable-toilets
 {:exclude []
  :include []
  :subs    []}

 :position-n-marker-lamps
 {:exclude []
  :include []
  :subs    []}

 :pots-n-pans
 {:exclude []
  :include []
  :subs    []}

 :protective-equipment
 {:exclude []
  :include []
  :subs    []}

 :pumps-n-compressors
 {:exclude []
  :include []
  :subs    []}

 :rear-lamps
 {:exclude []
  :include []
  :subs    []}

 :reflectors
 {:exclude []
  :include []
  :subs    []}

 :reversing-lamps
 {:exclude []
  :include []
  :subs    []}

 :safety-accessories
 {:exclude []
  :include []
  :subs    []}

 :safety-n-protection
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:anti-burglary-equipment
            :anti-theft-equipment
            :cargo-securing
            :alarms-n-sensors]}

 :sanitary-supplies
 {:exclude []
  :include []
  :subs    []}

 :sanitary-supplies-chemical-free
 {:exclude []
  :include []
  :subs    []}

 :satellite-accessories
 {:exclude []
  :include []
  :subs    []}

 :satellite-antennas
 {:exclude []
  :include []
  :subs    []}

 :satellite-receiver-kits
 {:exclude []
  :include []
  :subs    []}

 :satellite-systems
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:satellite-antennas
            :satellite-receiver-kits
            :satellite-accessories]}

 :sealants-n-adhesives
 {:exclude []
  :include []
  :subs    []}

 :securing-nets
 {:exclude []
  :include []
  :subs    []}

 :shock-absorbers
 {:exclude []
  :include []
  :subs    []}

 :shower-trays
 {:exclude []
  :include []
  :subs    []}

 :side-marker-lamps
 {:exclude []
  :include []
  :subs    []}

 :sinks
 {:exclude []
  :include []
  :subs    []}

 :solar-accessories
 {:exclude []
  :include []
  :subs    []}

 :solar-charge-controllers
 {:exclude []
  :include []
  :subs    []}

 :solar-kits
 {:exclude []
  :include []
  :subs    []}

 :solar-panels
 {:exclude []
  :include []
  :subs    []}

 :solar-showers
 {:exclude []
  :include []
  :subs    []}

 :solar-systems
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:solar-kits
            :solar-panels
            :solar-accessories
            :solar-charge-controllers]}

 :sports-n-hiking
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:water-purification]}

 :straps-n-tensioners
 {:exclude []
  :include []
  :subs    []}

 :support-legs
 {:exclude []
  :include []
  :subs    []}

 :switches-n-sockets
 {:exclude []
  :include []
  :subs    []}

 :tables
 {:exclude []
  :include []
  :subs    []}

 :tap-ceramic-inserts
 {:exclude []
  :include []
  :subs    []}

 :taps
 {:exclude []
  :include []
  :subs    []}

 :tent-lamps
 {:exclude []
  :include []
  :subs    []}

 :tents-n-awnings
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:maintenance-n-repair]}

 :toilet-accessories
 {:exclude []
  :include []
  :subs    []}

 :toilet-ventilation
 {:exclude []
  :include []
  :subs    []}

 :toilets-n-accessories
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:built-in-toilets
            :portable-toilets
            :sanitary-supplies
            :sanitary-supplies-chemical-free
            :toilet-ventilation
            :toilet-accessories]}

 :tool-boxes
 {:exclude []
  :include []
  :subs    []}

 :torches
 {:exclude []
  :include []
  :subs    []}

 :tow-balls
 {:exclude []
  :include []
  :subs    []}

 :tow-bar-tow-hitch-n-tow-ball
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:tow-balls
            :tow-hitches
            :tow-hitch-components
            :tow-hitch-scales
            :tow-hitch-covers
            :tow-hitch-accessories
            :tow-hitch-locks]}

 :tow-hitch-accessories
 {:exclude []
  :include []
  :subs    []}

 :tow-hitch-components
 {:exclude []
  :include []
  :subs    []}

 :tow-hitch-covers
 {:exclude []
  :include []
  :subs    []}

 :tow-hitch-locks
 {:exclude []
  :include []
  :subs    []}

 :tow-hitch-scales
 {:exclude []
  :include []
  :subs    []}

 :tow-hitches
 {:exclude []
  :include []
  :subs    []}

 :trailer-body-locks
 {:exclude []
  :include []
  :subs    []}

 :trailer-n-caravan
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:chassis-n-body
            :wheels-n-tyres
            :cargo-securing
            :tow-bar-tow-hitch-n-tow-ball
            :locks-n-protection]}

 :trailer-platform-locks
 {:exclude []
  :include []
  :subs    []}

 :turn-signal-lamps
 {:exclude []
  :include []
  :subs    []}

 :tv-devices
 {:exclude []
  :include []
  :subs    []}

 :tv-mounts
 {:exclude []
  :include []
  :subs    []}

 :tv-n-audio
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:tv-speakers
            :tv-devices
            :tv-mounts]}

 :tv-speakers
 {:exclude []
  :include []
  :subs    []}

 :tyres
 {:exclude []
  :include []
  :subs    []}

 :van-conversion
 {:exclude []
  :include []
  :subs    []}

 :vehicle-electrics
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:connectors-n-adapters
            :vehicle-lighting-n-lamps]}

 :vehicle-lighting-n-lamps
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:rear-lamps
            :position-n-marker-lamps
            :turn-signal-lamps
            :additional-brake-lamps
            :fog-lamps
            :lamp-covers
            :daytime-running-lamps
            :side-marker-lamps
            :license-plate-lamps
            :reversing-lamps
            :reflectors
            :bulbs
            :bulb-sets]}

 :washbasins
 {:exclude []
  :include []
  :subs    []}

 :washing-n-drying
 {:exclude []
  :include []
  :subs    []}

 :water-can-accessories
 {:exclude []
  :include []
  :subs    []}

 :water-cans-n-buckets
 {:exclude []
  :include []
  :subs    []}

 :water-connection
 {:exclude []
  :include []
  :subs    []}

 :water-filtration
 {:exclude []
  :include []
  :subs    []}

 :water-heaters
 {:exclude []
  :include []
  :subs    []}

 :water-heating
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:solar-showers
            :water-heaters]}

 :water-hoses-n-pipes
 {:exclude []
  :include []
  :subs    []}

 :water-level-indicators
 {:exclude []
  :include []
  :subs    []}

 :water-n-sanitary
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:water-treatment
            :water-heating
            :water-system
            :water-transport
            :toilets-n-accessories]}

 :water-pumps
 {:exclude []
  :include []
  :subs    []}

 :water-purification
 {:exclude []
  :include []
  :subs    []}

 :water-system
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:taps
            :tap-ceramic-inserts
            :plumbing-fittings
            :plumbing-fittings-quick-connect
            :frost-protection
            :bathroom-equipment
            :garden-hoses-n-accessories
            :outdoor-showers
            :drainage-systems
            :washbasins
            :sinks
            :grey-water-discharge
            :grey-water-tanks
            :water-connection
            :water-level-indicators
            :water-pumps
            :water-tanks
            :water-tank-accessories
            :water-hoses-n-pipes
            :shower-trays]}

 :water-tank-accessories
 {:exclude []
  :include []
  :subs    []}

 :water-tanks
 {:exclude []
  :include []
  :subs    []}

 :water-transport
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:portable-containers
            :water-cans-n-buckets
            :water-can-accessories]}

 :water-treatment
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:water-treatment-n-preservation
            :water-filtration]}

 :water-treatment-n-preservation
 {:exclude []
  :include []
  :subs    []}

 :wheel-rims
 {:exclude []
  :include []
  :subs    []}

 :wheels-n-tyres
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:wheel-rims
            :complete-wheels
            :tyres]}

 :winches
 {:exclude []
  :include []
  :subs    []}

 :work-lamps
 {:exclude []
  :include []
  :subs    []}}
