
; Product category map:
;
; - Each category is represented by a vector.
; - The first item is the dictionary ID of the category label.
; - The second item is the instructions map of what the category contains and what it doesn't.
; - The third item is the subcategories vector containing vectors of subcategories.



; Example of a category vector:
;
; [:category-name
;  {:exclude ["Does not contain red products"]
;   :include ["Contains black products"
;             "Contains green products"]}
;  [[:subcategory-name
;    {...}
;    [...]]
;   ...]]



[[:products
  {:exclude ["Does not contain products directly"]
   :include ["Contains only subcategories"]}
  [[:safety-n-protection
    {:exclude ["Does not contain products directly"]
     :include ["Contains only subcategories"]}
    []]]]]
