
; {:random-uuid
;  {:label   :my-category
;   :exclude ["Does not contain red products"]
;   :include ["Contains black products"
;             "Contains green products"]
;   :subs    [:my-subcategory ...]}
;  ...}

{:aaa
 {:label   :products
  :exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:bbb]}

 :bbb
 {:label :safety-n-protection
  :exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    []}}
