
; {:random-uuid
;  {:label   :my-category
;   :exclude ["Does not contain red products"]
;   :include ["Contains black products"
;             "Contains green products"]
;   :subs    [:my-subcategory ...]}
;  ...}

{:ccc
 {:label   :spare-parts
  :exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:ccc]}

 :ddd
 {:label :spare-parts-for-awnings
  :exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    []}}
