
; {:my-category
;  {:exclude ["Red products"]
;   :include ["Black products"
;             "Green products"]
;   :subs    [:my-subcategory ...]}
;  ...}

{:spare-parts
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    [:spare-parts-for-awnings]}

 :spare-parts-for-awnings
 {:exclude ["Does not contain products directly"]
  :include ["Contains only subcategories"]
  :subs    []}}
